SOLANA_RPC_URL=https://api.devnet.solana.com
MAGICBLOCK_ER_URL=https://devnet.magicblock.app
PORT=8080
OPERATOR_PRIVATE_KEY=<your-operator-keypair-base58>
PROGRAM_ID=6fSvbYjLzzqF6vZmcZ3rcFqw1hqbHAkskCNsCp7QCCAo
